
/* === Force CSS === */

.force-text {
	position: absolute;
	font-size: 0.7em;
	color: #444;
}

.force-text#center {
	background-color: rgba(255,255,255,0.5);
	color: #666;
}

button.force {
	position: absolute;
}


/* --- Multiple --- */

.multiple {
	background-color: rgba(255, 253, 250, 0.7);
} /* text */

.blue {
	color: #0066f5;
} /* text */

.orange {
	color: #FBC463;
}

button.force-multiple {
	position: absolute;
	padding: .15em;
	font-size: .6em;
	color: #777;
	background-color: rgba(255, 253, 250, 0.7);
} /* button */

button.force-multiple:hover {
	background-color: rgba(255, 200, 130, 0.7);
}