
/* === Text CSS === */

button.info {
  position: absolute;
  top: 0;
  right: 0;
}


div.col#text {
	overflow: auto;	
	background: rgba(255,255,255,0.95);
}



/* --- scroll arrow --- */

.scroll-afford {
  text-align: center;
  opacity: 0;
}

@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.scroll-arrow {
  display: block;
  height: 0;
  width: 0;
  margin: 0 auto;
  color: #C7DDFF;

  opacity: 0.4;
  border-color: transparent;
  border-style: solid;
  border-width: 0 2em;
  /* transform-origin: 50% 50%; */
  /* text-indent: 1em; */

  -webkit-animation: downarrow 1.2s infinite alternate ease-in-out;
  border-top: 2em solid #C7DDFF;
}

/* --- --- */





section {
	padding: 7em 1em 5em 1em;
	border-bottom: 1px dotted #adceff;
	position: relative;
}

section:first-child {
  padding-top: 2em;
}

section > h3 {
	margin: 2em 0;
  letter-spacing: 0.2em;
  font-weight: normal;
}

section a, section a:link {
	color: #000;
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C7DDFF;

  transition: all 0.5s ease;
}
section a:hover {
 border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #FBC463;
  cursor: pointer;
}

.pic {
	text-align: center;
}

.pic > img {
  max-width: 50%;
  display: block;
  margin: 0 auto;	
}


.pic.logo a {
  border: none;  
}


.pic.logo img {
  max-width: 30%;
}


.small {
	font-size: 0.5em;
}

.small-info {
  font-size: 0.7em;
  text-align: right;
  color: #999;
}

.medium {
	font-size: 0.7em;
	margin-bottom: 0.5em;
}

.small a, .small a:link {
	border: none;
  color: #777;
}
.small a:hover {
	border: none;
  color: #bbb;
  cursor: pointer;
}

span.center {
  display: block;
  width: 100%;
  text-align: center;
 }