/* === Meyer Reset & border box (in moderation) === */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	vertical-align: baseline;
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;	
}

a:link, a:visited, a:hover, a:active {
	color: #000;
}


canvas {
	border:  1px dotted #ccc;
}
