
/* === Treemap CSS === */

div#tip-header-treemap {
	padding: 5px;
	margin-bottom: 1px;
	color: #eee;
  pointer-events: none;
	z-index: 1;

	border-bottom: 1px solid #eee;

}

div#tip-body-treemap {
	padding: 5px;
  pointer-events: none;
	z-index: 1;
}


path.domain {
	display: none;
}

