/* === Meyer Reset & border box (in moderation) === */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	vertical-align: baseline;
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;	
}

a:link, a:visited, a:hover, a:active {
	color: #000;
}


select {
	margin-left: 50px;
}

canvas {
	border: 1px dotted #ccc;
	margin: 50px;
	margin-bottom: 10px;
}

canvas.hiddenCanvas {
	display: none;
}

div.tooltip {
  position: absolute;        
	display: inline-block;
  pointer-events: none;
	z-index: 1;
}

div#tipHeader {
	padding: 5px;
	margin-bottom: 1px;
  pointer-events: none;
	z-index: 1;
}

div#tipBody {
	padding: 5px;
  pointer-events: none;
	z-index: 1;
}

path.domain {
	display:  none;
}

