/* === Curtain.css === */

div#container {
	position: fixed;
	pointer-events: none;
}


div#curtain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 200vh;
	opacity: 1;
	z-index: 1;
}

div#curtain .top {

	height: 100vh;

	/* background-image: url('http://bit.ly/2jOHOXY'); */
	background-image: url('../images/other/intro_m.png');
  background-size: cover;
  background-position: center top;

}

div#curtain .bottom {

	background: transparent;
	height: 100vh;

}


#text-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	position: absolute;

	width: 100%;
	height: 50%; /* percent relative to next parent positioned relative or absolute (#curtain in this case) */
	color: #fff;
}

/* Font styling */

#text-wrap h1 {
	font-size: 4em;
	margin-bottom: 0em;
	/* text-shadow: 1px 1px 10px #ddf; */	
}


h3 {
	font-family: 'Open Sans';
	margin-left: 50px;			
}


/* Scroll image and Spinner - from http://tobiasahlin.com/spinkit/ */

.scroll {
	position: absolute;
	bottom: 100px;
	opacity: 0;
}

.scroll > img {
	width: 7em;
}

.spinner {

	position: absolute;
  bottom: 120px;

  width: 90px;
  text-align: center;
	opacity: 1;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}




/* === Force CSS === */

.force-text {
	position: absolute;
	font-size: 0.7em;
	color: #444;
}

.force-text#center {
	background-color: rgba(255,255,255,0.5);
	color: #666;
}

button.force {
	position: absolute;
}


/* --- Multiple --- */

.multiple {
	background-color: rgba(255, 253, 250, 0.7);
} /* text */

.blue {
	color: #0066f5;
} /* text */

.orange {
	color: #FBC463;
}

button.force-multiple {
	position: absolute;
	padding: .15em;
	font-size: .6em;
	color: #777;
	background-color: rgba(255, 253, 250, 0.7);
} /* button */

button.force-multiple:hover {
	background-color: rgba(255, 200, 130, 0.7);
}


  

/* === Grid CSS === */


/* --- Arrowed tooltip --- */

.tooltip-center, .tooltip-left, .tooltip-low {

  position: absolute;
	display: inline-block;
	top: -500px;
  width: 180px;
  height: 170px;
  
  text-align: center;
  color: #eee;
  background: #000428;
  background: -webkit-radial-gradient(circle, #004e92, #000428);
  background: radial-gradient(circle, #004e92, #000428); /* Standard syntax */
  box-shadow: 5px 10px 10px rgba(0,0,20,0.25);

  pointer-events: none;
  opacity: 0;
  z-index: 3;

}

.tooltip-center:after, .tooltip-left:after, .tooltip-low:after {
  content: "";
  position: absolute;
  top: 100%; /* this determines the arrow position */
  left: 80px; /* to center:  half of tooltips width minus this border-width */
  width: 0;
  height: 0;
  border-width: 10px; /* this determines the arrow size  */
  border-style: solid;
  border-color: #031E4C transparent transparent transparent; /* this needs to be adjusted for different arrow positions */
}

.tooltip-left:after {
  left: 0; /* to keep the arrow left:  set the left position to 0 */
  border-color: #000428 transparent transparent transparent; /* this needs to be adjusted for different arrow positions */
}

.tooltip-low:after {
  top: -20px; /* this determines the arrow position  - here: double the border width */
  border-color: transparent transparent #031E4C transparent; /* this needs to be adjusted for different arrow positions */
}

/*  --- Tooltip sections --- */

#tip-header-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #eee;
}

#tip-header-grid > img {
	height: 1em;
	opacity: 0.9;
	/* border: 1px dotted red; */
}

#tip-header-grid > div {
	padding-left: 2px;		
	font-size: 0.8em;
	/* border: 1px dotted blue; */
}

#tip-body-grid p {
	margin: 0;
	margin-top: 5px;
	padding: 2px;
	padding-left: 5px;
	font-size: 0.7em;
	text-align: left;
}


/* --- Multiples --- */

#modal div.grid {
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
}






/* === Main CSS === */


/* --- Meyer Reset & border box (in moderation) --- */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Avenir, Arial;
	font-size: 100%;
	vertical-align: baseline;
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;	
}

a:link, a:visited, a:hover, a:active {
	color: #999;
}


/* --- Container --- */


div#container {
	pointer-events: none;
}



/* --- Canvas --- */

.main-canvas, .hidden-canvas {
	/* width: 98%; */
}

.hidden-canvas {
	display: none;
}



/* --- Headlines --- */

.vis-header {

	position: absolute;
	max-width: 25vw;
	color: #555;
	font-size: 0.8em;
	/* background-color: rgba(250, 250, 255, .7); */

}

.vis-header#treemap {
	color: #eee;
}



/* --- Tooltip --- */

div.tooltip {
  position: absolute;
	display: inline-block;
  max-width: 250px;

  text-align: center;
  color: #eee;
  background: #000428;
	background: -webkit-radial-gradient(circle, #004e92, #000428);
	background: radial-gradient(circle, #004e92, #000428);

	box-shadow: 5px 10px 10px rgba(0,0,20,0.25);

  pointer-events: none;
	z-index: 3;
}

span.small {
	font-size: 0.65em;
}

/* tooltip children (header, body, ...) styled in individual style sheets */


/* --- Buttons --- */

button {
	display: inline-block;
	margin: 0;
	padding: .5em;
	outline: none;
	font-size: .6em;
	color: #555;
	background-color: rgba(250, 250, 255, .7);
	border: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}


button:hover {
	background-color: rgba(173, 206, 255, .7);
}



/* --- Multiple buttons --- */

button.multiple-button  {
	font-size: 1em;
	padding: 0.2em;
	position: absolute;
}



/* --- Modal --- */


#modal-container {

	position: absolute;
	top: 0;
	left: 0;

	/* display sorted by .show .hide classes */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 100vw;
	height: 100vh;

	z-index: 2;
	pointer-events: none;
}


#modal-header {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	width: 90vw;
	background-color: rgba(255, 250, 255, 1);
	margin: 0;
	border-bottom: 2px solid #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	pointer-events: all; 
}

#modal-header h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #999;
	font-weight: lighter;
  letter-spacing: 2px;
}

#modal-header button {
	position: absolute;
	top: 0.1em;
	right: 0.1em;
	color: #999;
	font-size: 1.1em;
	background-color: rgba(255, 250, 255, 1);
}

#modal-header button:hover {
	background-color: rgba(255, 250, 255, 1);
	color: #000;
}


#modal {
	position: relative; /* so that the children base their position and dimensions on this element */
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 90vw;
	height: 85vh;
	background-color: rgba(255, 250, 255, 1);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	margin: 0;


	pointer-events: all; 
	overflow: auto;
}



.multiple {
	position: absolute;
	padding: 0.1em;
	font-family: 'Open Sans';
	font-size:  0.65em;
  color: #999;
} /* the headline or subline text */


/* --- Info modal styles --- */


div.info-wrap {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 4em 0;
	border-top: 1px solid #ccc;
}

div.info-wrap img {
	width: 60%;
}

img#wide {
	width: 90%;
}

p.p-info {
	max-width: 45%;
	font-size: 0.9em;
	margin: 0 auto;
}

p.general {
	text-align: center;
	padding: 3em 0;
	letter-spacing: 2px;
}

span.strike-bg {
	color: #0066F5;
	text-decoration: line-through;
}

span.strike-fg {
	color: #000;
}

span.info {
	display: inline-block;
  padding: 0 0.25em;
}

span.salient {
  border-top: 1px solid #C7DDFF;
  background: rgba(199, 221, 255, 0.25);
}

span.blue-bg {
  border-top: 1px solid #5D97F7;
  background: rgba(93,151,247,0.25);
}

span.orange-bg {
  border-top: 1px solid #F2BB62;
  background: rgba(242,187,98,0.25);
}

/* --- helpers ---- */


.blurred {
	-webkit-filter: blur(16px);
	        filter: blur(16px);
}

.showFlex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.non-visible {
	visibility: hidden;
}

.hide {
	display: none;
}

.no-scroll {

	overflow: hidden;
	height: 100vh;

}




/* === Menu.css ===  */


div#menu {
	
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	margin-top: 1em;

	pointer-events: none; /* otherwise no map control in the menu area */
}

#menu-button, #info {
	pointer-events: all; /* switch on for the button */
}


div#dropdown {

	position: relative; /* to make ul scrollable */
	opacity: 0;

}

div#menu ul {

	font-size: 0.8em;
	list-style: none;
	padding: 0;
	box-shadow: 2px 2px 10px rgba(0,0,20,0.25);

	
	max-height: 60vh;
	overflow-y: auto;

}

div#menu li {

	margin: 0.1em 0.1em;
	padding-left: 0.2em;
  padding-right: 0.5em;

	background-color: rgba(255,255,255,0.4);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;

}

div#menu li:nth-child(odd) {
	background-color: rgba(173,206,255,0.4);
}

div#menu li:hover {
  background-color: rgba(173, 206, 255, 0.7);
}

div#menu li.active {
	background-color: rgba(245,143,0,0.2);
}


/* --- Menu slider animation --- */

@-webkit-keyframes menu-slider-show {

	from { opacity: 0; pointer-events: none; } 
	to { opacity: 1; pointer-events: all; }

}

@keyframes menu-slider-show {

	from { opacity: 0; pointer-events: none; } 
	to { opacity: 1; pointer-events: all; }

}

@-webkit-keyframes menu-slider-hide {

	from { opacity: 1; pointer-events: all; } 
	to { opacity: 0; pointer-events: none; }

}

@keyframes menu-slider-hide {

	from { opacity: 1; pointer-events: all; } 
	to { opacity: 0; pointer-events: none; }

}

.slider-show {

	-webkit-animation-name: menu-slider-show;

	        animation-name: menu-slider-show;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	pointer-events: all;

}

.slider-hide {

	-webkit-animation-name: menu-slider-hide;

	        animation-name: menu-slider-hide;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	pointer-events: none;

}




/* === Text CSS === */

button.info {
  position: absolute;
  top: 0;
  right: 0;
}


div.col#text {
	overflow: auto;	
	background: rgba(255,255,255,0.95);
}

section {
	padding: 7em 1em 5em 1em;
	border-bottom: 1px dotted #adceff;
	position: relative;
}

section:first-child {
  padding-top: 2em;
}

section > h3 {
	margin: 2em 0;
  letter-spacing: 0.2em;
  font-weight: normal;
}

section a, section a:link {
	color: #000;
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C7DDFF;

  -webkit-transition: all 0.5s ease;

  transition: all 0.5s ease;
}
section a:hover {
 border-bottom-width: 7px;
  border-bottom-style: solid;
  border-bottom-color: #FBC463;
  cursor: pointer;
}

.pic {
	text-align: center;
}

.pic > img {
  max-width: 50%;
  display: block;
  margin: 0 auto;	
}

.small {
	font-size: 0.5em;
}

.small-info {
  font-size: 0.7em;
  text-align: right;
  color: #999;
}

.medium {
	font-size: 0.7em;
	margin-bottom: 0.5em;
}

.small a, .small a:link {
	border: none;
  color: #777;
}
.small a:hover {
	border: none;
  color: #bbb;
  cursor: pointer;
}

span.center {
  display: block;
  width: 100%;
  text-align: center;
 }



/* === Treemap CSS === */

div#tip-header-treemap {
	padding: 5px;
	margin-bottom: 1px;
	color: #eee;
  pointer-events: none;
	z-index: 1;

	border-bottom: 1px solid #eee;

}

div#tip-body-treemap {
	padding: 5px;
  pointer-events: none;
	z-index: 1;
}


path.domain {
	display: none;
}

/* --- Multiples --- */

#modal div.treemap {
  padding: 0;
  margin: 2em 1em 0 1em;
}

