
/* === Meyer Reset & border box (in moderation) === */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial;
	font-size: 100%;
	vertical-align: baseline;
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;	
}

a:link, a:visited, a:hover, a:active {
	color: #000;
}



button {
	display: inline-block;
	height: 80%;
	margin: 0;
	padding: .5em;
	outline: none;
	font-family: 'Open Sans';
	font-size: .6em;
	color: #555;
	background-color: rgba(255, 255, 255, .7);
	border: none;
	transition: all 0.3s ease;
}
