

/* === Grid CSS === */


/* --- Arrowed tooltip --- */

.tooltip-center, .tooltip-left {

  position: absolute;
	display: inline-block;
	top: -500px;
  width: 180px;
  height: 170px;
  
  text-align: center;
  color: #eee;
  background: #000428;
  background: radial-gradient(circle, #004e92, #000428); /* Standard syntax */
  pointer-events: none;
  opacity: 0;

}

.tooltip-center:after, .tooltip-left:after {
  content: "";
  position: absolute;
  top: 100%; /* this determines the arrow position */
  left: 80px; /* to center:  half of tooltips width minus this border-width */
  width: 0;
  height: 0;
  border-width: 10px; /* this determines the arrow size  */
  border-style: solid;
  border-color: #031E4C transparent transparent transparent; /* this needs to be adjusted for different arrow positions */
}

.tooltip-left:after {
  left: 0; /* to keep the arrow left:  set the left position to 0 */
  border-color: #000428 transparent transparent transparent; /* this needs to be adjusted for different arrow positions */
}


/*  --- Tooltip sections --- */

#tip-header-grid {
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #eee;
}

#tip-header-grid > img {
	height: 1em;
	opacity: 0.9;
	/* border: 1px dotted red; */
}

#tip-header-grid > div {
	padding-left: 2px;		
	font-size: 0.8em;
	/* border: 1px dotted blue; */
}

#tip-body-grid p {
	margin: 0;
	margin-top: 5px;
	padding: 2px;
	padding-left: 5px;
	font-size: 0.7em;
	text-align: left;
}

