
/* === Tooltip map === */

.tooltip {

  position: absolute;        
	display: inline-block;
  max-width: 250px;

	font-family: 'IM Fell DW Pica', serif;
	font-family: 'IM Fell English', serif;	
  text-align: center;
  color: #eee;
  background: #000428;
	background: radial-gradient(circle, #004e92, #000428);

  pointer-events: none;
	z-index: 1;

}

#tipHeader {
	padding: 5px;
	margin-bottom: 1px;
	color: #eee;
	border-bottom: 1px solid #eee;
  pointer-events: none;
	z-index: 1;
}

#tipBody {
	padding: 5px;
  pointer-events: none;
	z-index: 1;
}

#tipBody img {
	max-width: 200px;
}

span.small {
	font-size: 0.65em;
}





