
/* === Map CSS === */

#tip-header-map {
	padding: 5px;
	margin-bottom: 1px;
	color: #eee;
	border-bottom: 1px solid #eee;
  pointer-events: none;
	z-index: 1;
}

#tip-body-map {
	padding: 5px;
  pointer-events: none;
	z-index: 1;
}

#tip-body-map img {
	max-width: 200px;
}

.mapboxgl-ctrl-top-right {
	opacity: 0.6;
  top: 5px;
  right: 5px;
} /* correct the attribution position and opacity to integrate into UI */
