
/* === Tooltip map === */

div.tooltip {
	font-family: 'IM Fell DW Pica', serif;
	font-family: 'IM Fell English', serif;
	
  position: absolute;        
	display: inline-block;
  pointer-events: none;
	z-index: 1;

  text-align: center;
  color: #eee;
  background: #000428;
	background: radial-gradient(circle, #004e92, #000428);

  max-width: 250px;
}

div#tipHeader {
	padding: 5px;
	margin-bottom: 1px;
	color: #eee;
  pointer-events: none;
	z-index: 1;

	border-bottom: 1px solid #eee;

}

div#tipBody {
	padding: 5px;
  pointer-events: none;
	z-index: 1;
}

#tipBody img {
	max-width: 200px;
}

span.small {
	font-size: 0.65em;
}





